@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --fonte-principal: 'Pacifico', cursive;
}

.card-largura{
    max-width: 18rem;
}

.fonte-titulo{
    font-family: var(--fonte-principal);
}

.imagem-corrossel-um{
    height: 400px;
    object-fit: cover;
    object-position: 0 80%;
}

.imagem-corrossel-dois{
    height: 400px;
    object-fit: cover;
}

.cor-especial{
    color: darkred;
}

.botao-cor-especial{
    background-color: darkred;
    border-color: darkred;
    color: white;
    transition: .5s all;
}

.botao-cor-especial:hover{
    background-color: transparent;
    border: solid 1px darkred;
    color: darkred;
}

.borda-card{
    border-color: darkred;
}

.imagem-card{
    height: 200px;
    object-fit: cover;
}